/* stylelint-disable selector-list-comma-newline-after */


.blog-header {
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif
    /*rtl:Amiri, Georgia, "Times New Roman", serif*/
  ;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif
    /*rtl:Amiri, Georgia, "Times New Roman", serif*/
  ;
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}



/* About Page Title */
#titleh1 {
  text-align: center;
}

.aboutus-container {
  display: flex;
  justify-content: space-between;
}


.mission {
  flex: 1 1 100px;
  padding: 10px;
}


.vision {
  flex: 1 1 100px;
  padding: 10px;

}

/* .vision p {
  text-align: justify;

} */

.mission p,
.vision p {
  margin: 4px;
  text-align: justify;
}

.about-image {
  flex: 1 1 100px;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  margin: 10px;
  padding-top: 10px;
  justify-content: center;
}

#subtitle {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: mediumslateblue;
}

/* Make sure Font Awesome is loaded in <head>: */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');


.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-container {
  position: relative;

}

.search-container i {
  position: absolute;
  left: 10px;
  top: 10px;
  /* transform: translateY('50%') */
  color: #827b7b;
}

.search-container input {
  padding: 5px 5px 5px 30px;
  border-radius: 10px;
  border-color: rgb(237, 229, 229);
}

.submitbtn button {
  display: inline;
  border-radius: 5px;
  width: 30px;
  height: 20px;
}

#dashboard_nav a:hover {
  background-color: rgb(157, 198, 239);
  color: white;

}

#dashboard_nav a.active {
  background-color: rgb(182, 182, 240);
  color: white;
}

#dashboard_nav a {
  border: #ece3e3;
  border-radius: 2px;

}