{% extends "base.html" %}

{% block content %}


<h3 class="text-uppercase text-warning">Category- {{category}}</h3>

{% for post in posts %}
{% if forloop.first %}

<img class="img-fluid" src="{{post.featured_image.url}}" width="25%" height="25%" />
{% endif %}
{% endfor %}

<div class="row mb-2">
    {% if posts %}
    {% for posts in posts %}
    <div class="col-md-6">
        <div class="card border-0">
            <div class="card-body">
                <a href="{%  url 'blogs' posts.slug%}" class="text-dark">
                    <h3>{{posts.title}}</h3>
                </a>
                <small class="mb-1 text-muted">{{posts.created_at | timesince }} ago | {{posts.author}}</small>
                <p class="card-text">{{posts.short_description | truncatechars:150 }}.</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <P>Posts not found</P>
    {% endif %}

</div>



</div><!-- /.row -->


</div>
{% endblock %}